<!DOCTYPE html>

<head>
    <title>Sign In</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
<header>
    <h1 id="logo">Trickster</h1>
    <h2 id="client-id">{{app_name}}</h2>
</header>
<form method="post" action="{{client_id}}">
    <input type="email" name="email" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'">
    <input type="password" name="password" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'">
    <input type="submit" value="Sign in" id="button"><a href="Forgot password?">Forgot password?</a>
</form>
<footer>
    <p>Don't have an account? <a href="signup">Sign Up</a>.</p>
</footer>
</body>
